.title {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0;
}

.title h2 {
    white-space: nowrap;
}

.title::after {
    background-color: var(--color-primary);
    content: "";
    display: block;
    height: 2px;
    margin: auto 0 auto 1rem;
    width: 100%;
}

.cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    margin-bottom: 4rem;
    width: 100%;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.cardImage {
    margin: auto auto 2rem;
    width: 50%;
}

.cardTitle {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .title {
        padding: 0 1rem;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0 1rem;
    }
}

@media (max-width: 490px) {
    .title h2 {
        white-space: normal;
    }

    .title::after {
        display: none;
    }
}
