.navbar {
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

.navbar.hiddenMenu {
    max-height: 75px;
    transition: ease max-height .3s;
}

.navbar.showMenu {
    max-height: 500px;
    transition: ease max-height 1s;
}

.navbar.scrolled {
    background-color: #ffffffd4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
}

.menuMobile {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.openMobileMenu {
    display: none;
}

.logo {
    cursor: pointer;
    user-select: none;
}

.navbar_items {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navbar_item {
    font-size: 1rem;
    font-weight: 600;
    border-bottom: transparent 2px solid;
    color: #333;
    cursor: pointer;
}

.navbar_item:hover {
    color: #252525;
    border-bottom: var(--color-primary) 2px solid;
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem 0;
    }

    .navbar_items {
        display: none;
    }

    .openMobileMenu {
        display: block;
    }
}
