.navbar {
    overflow: hidden;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar.hiddenMenu {
    max-height: 75px;
    transition: ease max-height .3s;
}

.navbar.showMenu {
    max-height: 500px;
    transition: ease max-height 1s;
}

.navbar.scrolled {
    backdrop-filter: blur(3px);
    background-color: var(--color-bg-navbar);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menuMobile {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0 1rem;
    text-align: center;
}

.navbar_menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.openMobileMenu {
    display: none;
}

.logo {
    cursor: pointer;
    user-select: none;
}

.navbar_items {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navbar_item {
    border-bottom: transparent 2px solid;
    color: var(--color-text);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.navbar_item:hover {
    border-bottom: var(--color-primary) 2px solid;
}

.lightIcon::after {
    content: "🌞";
    font-size: 2rem;
}

html[class='dark'] .lightIcon::after {
    content: "🌚" !important;
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem 0;
    }

    .navbar_items {
        display: none;
    }

    .openMobileMenu {
        align-items: center;
        display: flex;
        gap: 1.5rem;
    }
}
