.content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 12rem 0 8rem 0;
    width: 100%;
}

.content .informationContainer {
    width: 60%;
}

.content .imageContainer {
    width: 30%;
}

.profileImage {
    border: 20px solid rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.profileImage .preImage {
    border: 20px solid rgba(0, 0, 0, 0.17);
    border-radius: 50%;
}

.profileImage img {
    border-radius: 50%;
}

.bubble {
    background-color: var(--color-primary);
    border-radius: 20px 20px 20px 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 10px 30px;
    width: fit-content;
}

.name {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 2rem;
}

.rol {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
}

.informationItems {
    align-items: center;
    display: flex;
    font-size: 1rem;
    gap: .6rem;
    margin-bottom: .5rem;
    margin-top: 0;
}

.RRSSIcons {
    display: flex;
    gap: .5rem;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        min-height: auto;
        padding: 7rem 1rem 0;
    }

    .informationContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        order: 2;
        width: 100% !important;
    }

    .imageContainer {
        margin-bottom: 2rem;
        order: 1;
        text-align: center;
        width: 80% !important;
    }

    .name {
        font-size: 2rem;
    }

    .rol {
        font-size: 1.3rem;
        margin-top: .2rem;
    }
}
