.title {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0;
}

.title h2 {
    white-space: nowrap;
}

.title::after {
    background-color: var(--color-primary);
    content: "";
    display: block;
    height: 2px;
    margin: auto 0 auto 1rem;
    width: 100%;
}

.contentContainer {
    margin-bottom: 4rem;
}

.contentContainer p:first-child {
    line-height: 1.5rem;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.categoryContainer h3 {
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.skillsContainer {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    margin-top: 3rem;
}

.skillsContainer .skill {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skillsContainer .skill svg {
    fill: #545454;
}

.skillsContainer .skill svg:hover {
    fill: var(--color-primary);
}

.skillsContainer .skill span {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .hardSkillsContainer {
        padding: 0 1rem;
    }

    .skillsContainer {
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    }

    .skillsContainer .skill span {
        font-size: 0.8rem;
    }
}

@media (max-width: 490px) {
    .title h2 {
        white-space: normal;
    }

    .title::after {
        display: none;
    }
}
