---
import SpeedInsights from '@vercel/speed-insights/astro'

/* 
import Portfolio from '@components/Portfolio.astro'
import Testimonials from '@components/Testimonials.astro'
*/

import Header from '@components/Header.astro'
import Landing from '@components/Landing.astro'
import AboutMe from '@components/AboutMe.astro'
import Works from '@components/Works.astro'
import ContactMe from '@components/ContactMe.astro'
import Footer from '@components/Footer.astro'

import './_index.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='generator' content={Astro.generator} />
    <title>Abel Rangel</title>
    <meta name='description' content='Entusiasta de la tecnología, empático, responsable, con capacidad de escucha, compromiso y trabajo en equipo.' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='google' content='nositelinkssearchbox' />
    <meta name='google' content='notranslate' />

    <link rel='icon' href='/favicon.png' />

    {/* Facebook Meta Tags */}
    <meta property='og:url' content='https://www.ransilad.com/' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Abel Rangel' />
    <meta property='og:description' content='Entusiasta de la tecnología, empático, responsable, con capacidad de escucha, compromiso y trabajo en equipo.' />
    <meta property='og:image' content='https://www.ransilad.com/cover.webp' />

    {/* Twitter Meta Tags */}
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:domain' content='ransilad.com' />
    <meta name='twitter:url' content='https://www.ransilad.com/' />
    <meta name='twitter:title' content='Abel Rangel' />
    <meta name='twitter:description' content='Entusiasta de la tecnología, empático, responsable, con capacidad de escucha, compromiso y trabajo en equipo.' />
    <meta name='twitter:image' content='https://www.ransilad.com/cover.webp' />
  </head>
  <body>
    <Header />
    <Landing />
    <AboutMe />
    <Works />
    <!--
    <Portfolio />
    <Testimonials />
    -->
    <ContactMe />
    <Footer />

    <!-- @ts-ignore -->
    <SpeedInsights />
  </body>
</html>
