---
import AboutMe from '@components/AboutMe.astro';
import HardSkills from '@components/HardSkills.astro';
import Landing from '@components/Landing.astro';
import SoftSkills from '@components/SoftSkills.astro';
import './index.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Abel Rangel</title>
	</head>
	<body>
		<div class="w-10/12 lg:w-3/4 xl:w-2/4 mx-auto">
			<Landing />
			<AboutMe />
			<SoftSkills />
			<HardSkills />
		</div>
	</body>
</html>
