.content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8rem 0;
    width: 100%;
}

.imageContainer {
    width: 30%;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 50%;
}

.informationContainer p {
    margin: 0;
}

.informationContainer .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0;
}

.informationContainer .description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.informationContainer a {
    background-color: var(--color-primary);
    border: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: .6rem 1rem;
    width: fit-content;
}

.informationContainer a:hover {
    background-color: var(--color-dark);
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        padding: 4rem 1rem;
    }

    .imageContainer {
        margin-bottom: 4rem;
        text-align: center;
        width: 70%;
    }

    .informationContainer {
        padding: 0;
        width: 100%;
    }
}
