---
import Container from "./utils/Container.astro";

---

<Container>
    <section id="about" class="pt-20 md:pt-32">
        <div class="flex flex-col md:flex-row">
            <div class="mb-14 md:mb-0 flex justify-center md:justify-start">
                <img src="/images/developer.svg" alt="Persona programando" class="w-2/3">
            </div>
            <div class="flex flex-col">
                <p class="text-3xl font-bold mb-8">Acerca de mi</p>
                <p class="mb-4">
                    Entusiasta de la tecnología, empático, responsable, con capacidad de escucha, compromiso y trabajo en equipo. Me adapto a cualquier
                    proyecto y reto que me propongan.
                </p>
                <p class="mb-4">
                    Me esfuerzo mucho para crear soluciones elegantes en el menor tiempo posible.
                </p>
                <p class="mb-10">
                    Soy de la idea que el conocimiento es para compartirlo, por lo que me gusta enseñar y aprender de los demás.
                </p>
                <a
                    class="bg-primary hover:bg-transparent transition-all text-white hover:text-primary border border-transparent hover:border-primary font-bold py-3 px-6 rounded-full w-fit"
                    href="https://drive.google.com/file/d/1Q3vHdCzExbZzoXyZ0RRChbyNi9R1pm40/view?usp=sharing"
                    target="_blank"
                    rel="noreferrer"
                >
                    Descargar CV
                </a>
            </div>
        </div>
    </section>
</Container>