<section id="about" class="my-20">
    <content class="flex flex-col md:flex-row">
        <div class="mb-14 md:mb-0 flex justify-center md:justify-start">
            <img src="/images/developer.svg" alt="Persona programando" class="w-2/3">
        </div>
        <div>
            <p class="text-3xl font-semibold mb-8">Acerca de mi</p>
            <p class="mb-4">
                Entusiasta de la tecnología, con un don para crear soluciones elegantes en el menor tiempo posible.
            </p>
            <p class="mb-4">
                Empático, responsable, con capacidad de escucha, compromiso y trabajo en equipo. Me adapto a cualquier
                proyecto y reto que me propongan.
            </p>
            <p class="mb-10">
                Soy de la idea que el conocimiento es para compartirlo, por lo que me gusta enseñar y aprender de los demás.
            </p>
            <a
                class="bg-primary hover:bg-gray-700 transition-all text-white font-bold py-3 px-6 rounded-full"
                href="https://drive.google.com/file/d/1IVSy7B3A1WU8Z1p8bhQcS7O1HwE30Udf/view?usp=sharing"
                target="_blank"
                rel="noreferrer"
            >
                Descargar CV
            </a>
        </div>
    </content>
</section>