---
import Container from './utils/Container.astro'
import TitleWithLine from './utils/TitleWithLine.astro'

const SOFT_SKILLS = [
  'Actitud positiva',
  'Trabajo en equipo y liderazgo',
  'Comunicación efectiva',
  'Gestión del tiempo',
  'Adaptación y tolerancia',
  'Aprendizaje continuo'
]
---

<Container>
  <section id='about' class='py-6 md:py-10'>
    <TitleWithLine>Acerca de mi</TitleWithLine>
    <div class='grid grid-cols-10 gap-6 *:overflow-clip *:rounded-xl *:border *:border-zinc-800 *:p-6'>
      <article class='relative col-span-10 md:col-span-4'>
        <h2 class='text-xl md:text-2xl font-semibold mb-6 flex flex-row gap-4'>
          <img src='/icons/briefcase.svg' alt='Maletín' class='h-8' />
          En el trabajo
        </h2>
        <div class='text-pretty text-zinc-400 md:text-lg font-light flex flex-col gap-4'>
          <p>
            Entusiasta de la tecnología, empático, <strong class='text-primary'>responsable</strong>, con capacidad de escucha, compromiso y trabajo en equipo.
            Me adapto a cualquier proyecto y reto que me propongan.
          </p>
          <p>Me esfuerzo mucho para crear <strong class='text-primary'>soluciones elegantes</strong> en el menor tiempo posible.</p>
          <p>Soy de la idea que el conocimiento es para compartirlo, por lo que me gusta enseñar y aprender de los demás.</p>
        </div>
      </article>
      <article class='flex flex-col col-span-10 md:col-span-6'>
        <h2 class='text-xl md:text-2xl font-semibold mb-6 flex flex-row gap-4'>
          <img src='/icons/soft-skills.svg' alt='Soft Skills' class='h-8' />
          Habilidades blandas
        </h2>
        <div class='text-pretty text-zinc-400 md:text-lg font-light flex flex-col gap-4 mb-6'>
          <p>
            En un mundo laboral en constante evolución, las habilidades técnicas son esenciales, pero las habilidades blandas son las que realmente marcan la
            diferencia.
          </p>
          <p>Estas competencias interpersonales y emocionales son fundamentales para trabajar en equipo, liderar proyectos y adaptarse a los cambios.</p>
        </div>
        <div class='flex flex-row flex-wrap gap-2 mt-auto'>
          {SOFT_SKILLS.map((softSkill) => <article class='text-sm px-3 py-2 border border-zinc-800 rounded-full bg-zinc-900'>{softSkill}</article>)}
        </div>
      </article>
      <article class='relative col-span-10 md:col-span-6'>
        <h2 class='text-xl md:text-2xl font-semibold mb-6 flex flex-row gap-4'>
          <img src='/icons/education.svg' alt='Educación' class='h-8' />
          Educación
        </h2>
        <div class='text-pretty text-zinc-400 md:text-lg font-light flex flex-col gap-4'>
          <p class='text-primary font-bold'>Ingeniería en Informática</p>
          <p class='-mt-4 text-zinc-500'>Táchira, Venezuela | 2014</p>
          <p>
            Graduado de la <span class='text-white'>Universidad Nacional Experimental del Táchira</span>, donde adquirí conocimientos sólidos en programación,
            arquitectura de sistemas y bases de datos. Adicionalmente, participé en el desarrollo de la página de PostGrado y en la creación de un sistema para
            el soporte técnico de la universidad.
          </p>
        </div>
      </article>
      <article class='relative col-span-10 md:col-span-4 flex flex-col'>
        <h2 class='text-xl md:text-2xl font-semibold mb-6 flex flex-row gap-4'>
          <img src='/icons/heart.svg' alt='Home' class='h-8' />
          Gustos y pasatiempos
        </h2>
        <div class='grid grid-cols-3 grid-rows-1 gap-x-8 pt-8 sm:gap-x-2 flex-1'>
          <div class='relative flex -rotate-12 animate-float flex-col items-center -space-y-0 self-start justify-self-center'>
            <picture>
              <img src='/icons/food.svg' alt='Emoji de una parrilla' class='size-[60px] md:size-[80px]' loading='lazy' decoding='async' />
            </picture>
            <p class='inset-x-0 -z-10 mt-2 min-h-fit min-w-max rounded-full border bg-[#1d1b1b] px-[1em] py-[0.2em] text-center text-2xs md:text-xs'>
              <span class='my-1 inline-flex items-center gap-x-2'>
                ❤️
                <span class='sr-only'>Amor</span>
                <span class='font-medium'> Asado </span>
              </span>
            </p>
          </div>
          <div class='relative flex animate-bounce flex-col items-center -space-y-0 self-end justify-self-center'>
            <picture>
              <img src='/icons/soccer.svg' alt='Emoji de una pelota' class='size-[50px] md:size-[70px]' loading='lazy' decoding='async' />
            </picture>
            <p class='inset-x-0 -z-10 mt-2 min-h-fit min-w-max rounded-full border bg-[#1d1b1b] px-[1em] py-[0.2em] text-center text-2xs md:text-xs'>
              <span class='my-1 inline-flex items-center gap-x-2'>
                ❤️
                <span class='sr-only'>Amor</span>
                <span class='font-medium'> Fútbol </span>
              </span>
            </p>
          </div>
          <div class='relative flex rotate-12 animate-float animate-delay-700 flex-col items-center -space-y-0 self-start justify-self-center'>
            <picture>
              <img src='/icons/cinema.svg' alt='Emoji de un cine' class='size-[60px] md:size-[80px]' loading='lazy' decoding='async' />
            </picture>
            <p class='inset-x-0 -z-10 mt-2 min-h-fit min-w-max rounded-full border bg-[#1d1b1b] px-[1em] py-[0.2em] text-center text-2xs md:text-xs'>
              <span class='my-1 inline-flex items-center gap-x-2'>
                ❤️
                <span class='sr-only'>Amor</span>
                <span class='font-medium'> Cine </span>
              </span>
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>
</Container>

<script>
  const options = {
    rootMargin: '0px',
    threshold: window.innerWidth < 640 ? 0.3 : 0.8
  }
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const itemsLinks = document.getElementsByClassName('item-link')
        for (let item of itemsLinks) {
          item.classList.remove('item-active')
        }
        document.querySelector('#about-link').classList.add('item-active')
      }
    })
  }, options)

  observer.observe(document.querySelector('#about'))
</script>
