---
import Mail from '@icons/Mail.astro'
import SocialNetworks from './SocialNetworks.jsx'
import Container from './utils/Container.astro'
import TitleWithLine from './utils/TitleWithLine.astro'
---

<Container>
  <section id='contact' class='py-6 md:py-10 relative'>
    <TitleWithLine>Mantengámonos en contacto</TitleWithLine>
    <div class='flex flex-col md:flex-row gap-4 md:gap-6 relative *:flex-1 *:flex *:flex-col *:gap-3 *:items-center *:md:items-start'>
      <article class='font-light text-zinc-400'>
        <h4 class='text-white text-xl md:text-2xl text-center md:text-left'>¡<strong class='text-primary'>Gracias</strong> por llegar hasta aquí!</h4>
        <p class='text-pretty text-zinc-400 md:text-lg font-lightmd:w-2/3 text-center md:text-left'>
          Espero que este portfolio, hecho con mucho cariño, haya sido de su agrado.
        </p>
        <SocialNetworks client:load />
      </article>
      <div class='md:hidden border-b border-zinc-900 w-full my-6'></div>
      <article>
        <h4 class='text-white text-xl md:text-2xl text-center md:text-left'>
          ¿Tienes una pregunta o simplemente <span class='text-primary'>quieres hablar</span>?
        </h4>
        <p class='text-pretty text-zinc-400 md:text-lg font-light md:w-2/3 text-center md:text-left'>
          Si tienes una pregunta, un proyecto en mente, o simplemente quieres saludar, mi correo es:
        </p>
        <a
          href='mailto:abeld.rangels@gmail.com'
          target='_blank'
          rel='noreferrer'
          class='text-primary font-semibold md:text-lg mt-2 flex flex-row gap-2 items-center'
        >
          <Mail /> abeld.rangels@gmail.com
        </a>
      </article>
    </div>
  </section>
</Container>
