---
import Container from "./utils/Container.astro"

---

<Container>
    <footer class="font-light text-sm flex flex-col md:flex-row md:justify-between my-6 text-center">
        <p>Abel Rangel @ 2023</p>
        <p>Hecho con Astro</p>
    </footer>
</Container>