---
import Container from "./utils/Container.astro";
import TitleWithLine from "./utils/TitleWithLine.astro";

const HARD_SKILLS = [{
    title: 'HTML5',
    image: '/icons/html5.svg'
}, {
    title: 'CSS3',
    image: '/icons/css3.svg'
}, {
    title: 'Sass',
    image: '/icons/sass.svg'
}, {
    title: 'React',
    image: '/icons/reactjs.svg'
}, {
    title: 'Next',
    image: '/icons/next.svg'
}, {
    title: 'Vue',
    image: '/icons/vue.svg'
}, {
    title: 'Angular',
    image: '/icons/angular.svg'
}, {
    title: 'Svelte',
    image: '/icons/svelte.svg'
}, {
    title: 'Astro',
    image: '/icons/astro.svg'
}, {
    title: 'Ionic',
    image: '/icons/ionic.svg'
}, {
    title: 'Bootstrap',
    image: '/icons/bootstrap.svg'
}, {
    title: 'TailwindCSS',
    image: '/icons/tailwind.svg'
}, {
    title: 'Python',
    image: '/icons/python.svg'
}, {
    title: 'Flask',
    image: '/icons/flask.svg'
}, {
    title: 'Django',
    image: '/icons/django.svg'
}, {
    title: 'JavaScript',
    image: '/icons/js.svg'
}, {
    title: 'MongoDB',
    image: '/icons/mongo.svg'
}, {
    title: 'PostgreSQL',
    image: '/icons/postgresql.svg'
}, {
    title: 'MySQL',
    image: '/icons/mysql.svg'
}, {
    title: 'Firebase',
    image: '/icons/firebase.svg'
}, {
    title: 'Github',
    image: '/icons/github.svg'
}, {
    title: 'Gitlab',
    image: '/icons/gitlab.svg'
}, {
    title: 'Docker',
    image: '/icons/docker.svg'
}, {
    title: 'npm',
    image: '/icons/npm.svg'
}, {
    title: 'yarn',
    image: '/icons/yarn.svg'
}, {
    title: 'Gulp',
    image: '/icons/gulp.svg'
}, {
    title: 'ESLint',
    image: '/icons/eslint.svg'
}, {
    title: 'GTM',
    image: '/icons/gtm.svg'
}, {
    title: 'Google Analytics',
    image: '/icons/ga.svg'
}, {
    title: 'AWS',
    image: '/icons/aws.svg'
}, {
    title: 'Google Cloud',
    image: '/icons/gcloud.svg'
}, {
    title: 'Vercel',
    image: '/icons/vercel.svg'
}, {
    title: 'Netlify',
    image: '/icons/netlify.svg'
}]

---

<Container>
    <section class="mt-16">
        <TitleWithLine>
            Habilidades técnicas
        </TitleWithLine>
        <p class="mt-6 mb-16">
            A lo largo de los años he ido adquiriendo conocimientos en diferentes áreas de la programación, tanto en el 
            front-end como en el back-end. A continuación, les dejo una lista de las tecnologías que he utilizado en mis proyectos
        </p>
        <content class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-7 xl:grid-cols-9 gap-2 gap-y-10 mt-10">
            {HARD_SKILLS.map((softSkill, index) => (
                <div class="flex flex-col items-center">
                    <img class="w-1/3" src={softSkill.image} alt={softSkill.title}/>
                    <p class="text-center text-sm mt-3">{softSkill.title}</p>
                </div>
            ))}
        </content>
    </section>
</Container>