---
import logo from '@assets/logo.svg'
import { Picture } from 'astro:assets'
import openMenuMobile from '@assets/icons/openMenuMobile.svg'
import closeMenuMobile from '@assets/icons/closeMenuMobile.svg'
---

<div class='fixed w-full z-50 scroll-shadow transition-all ease-in-out duration-300'>
  <div class='w-10/12 sm:w-11/12 xl:w-3/4 mx-auto'>
    <header class='my-5 flex items-center justify-between'>
      <a href='/#home'>
        <Picture src={logo} alt='Abel Rangel Logo' width='100' loading='eager' />
      </a>
      <span id='menu' class='block md:hidden z-10'>
        <Picture id='open-menu' src={openMenuMobile} alt='Icono de menu para abrir' width='40' loading='eager' />
        <Picture id='close-menu' class='hidden' src={closeMenuMobile} alt='Icono de menu para cerrar' width='40' loading='eager' />
      </span>
      <nav
        class='absolute inset-0 right-0 justify-center items-center flex md:relative md:block bg-zinc-950 md:bg-transparent bg-opacity-90 md:bg-opacity-0 transition-all ease-in-out duration-300 h-dvh md:h-auto'
      >
        <ul class='flex gap-6 font-semibold flex-col md:flex-row text-center md:text-start'>
          <li
            id='home-link'
            class='item-link border-b-2 border-transparent hover:border-primary text-white md:text-zinc-500 hover:text-zinc-300 text-2xl md:text-base'
          >
            <a href='/#home'>Inicio</a>
          </li>
          <li
            id='about-link'
            class='item-link border-b-2 border-transparent hover:border-primary text-white md:text-zinc-500 hover:text-zinc-300 text-2xl md:text-base'
          >
            <a href='/#about'>Acerca de mi</a>
          </li>
          <li
            id='works-link'
            class='item-link border-b-2 border-transparent hover:border-primary text-white md:text-zinc-500 hover:text-zinc-300 text-2xl md:text-base'
          >
            <a href='/#works'>Experiencia Laboral</a>
          </li>
          <li
            id='contact-link'
            class='item-link border-b-2 border-transparent hover:border-primary text-white md:text-zinc-500 hover:text-zinc-300 text-2xl md:text-base'
          >
            <a href='/#contact'>Contacto</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>

<script>
  // Función para validar el tamaño de la pantalla y mostrar el menú
  function validateMenu() {
    if (window.innerWidth < 640) {
      const isHidden = document.body.style.overflowY !== 'hidden'
      document.querySelector('nav').classList.toggle('show-menu', !isHidden)
    } else {
      document.querySelector('nav').classList.add('show-menu')
      document.body.style.overflowY = 'auto'
    }
  }
  window.addEventListener('resize', validateMenu)
  validateMenu()

  // Función para mostrar/ocultar el menú en dispositivos móviles cuando se le da click al botón
  document.querySelector('#menu').addEventListener('click', () => {
    document.querySelector('#open-menu').classList.toggle('hidden')
    document.querySelector('#close-menu').classList.toggle('hidden')
    document.querySelector('nav').classList.toggle('show-menu')
    document.body.style.overflowY = document.body.style.overflowY === 'hidden' ? 'auto' : 'hidden'
  })

  // Ocultar el menú cuando se le da click a un enlace del nav
  const $navbar = document.querySelector('nav')
  $navbar.querySelectorAll('a').forEach((anchor) => {
    anchor.addEventListener('click', (_event) => {
      if (window.innerWidth < 640) {
        document.querySelector('nav').classList.toggle('show-menu')
        document.querySelector('#open-menu').classList.toggle('hidden')
        document.querySelector('#close-menu').classList.toggle('hidden')
        document.body.style.overflowY = document.body.style.overflowY === 'hidden' ? 'auto' : 'hidden'
      }
    })
  })

  window.addEventListener('scroll', function () {
    const isScrolled = window.scrollY > 100
    document.querySelector('.scroll-shadow').classList.toggle('bg-zinc-950/80', isScrolled)
    document.querySelector('.scroll-shadow').classList.toggle('backdrop-blur-md', isScrolled)
  })
</script>

<style>
  nav {
    transform: translateX(-100%);

    &.show-menu {
      transform: translateX(0);
    }

    .item-active {
      @apply border-primary text-zinc-300;
    }
  }
</style>
