<header class="my-5 flex items-center justify-between">
    <img src="/images/logo.svg" alt="Abel Rangel Logo" width="100">
    <nav class="hidden md:block">
        <ul class="flex gap-6 font-semibold">
            <li class="border-b-2 border-transparent hover:border-primary"><a href="/#home">Inicio</a></li>
            <li class="border-b-2 border-transparent hover:border-primary"><a href="/#about">Acerca de mi</a></li>
            <li class="border-b-2 border-transparent hover:border-primary"><a href="/#portfolio">Portafolio</a></li>
            <li class="border-b-2 border-transparent hover:border-primary"><a href="/#contact">Contacto</a></li>
        </ul>
    </nav>
</header>