---
import StatsSummary from '@components/StatsSummary.astro'
import MyProfile from '@components/MyProfile.astro'
import Container from './utils/Container.astro'
---

<Container>
  <section id='home'>
    <div class='flex flex-col justify-between min-h-screen'>
      <MyProfile />
      <StatsSummary />
    </div>
  </section>
</Container>

<script>
  const options = {
    rootMargin: '0px',
    threshold: 1
  }
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const itemsLinks = document.getElementsByClassName('item-link')
        for (let item of itemsLinks) {
          item.classList.remove('item-active')
        }
        document.querySelector('#home-link').classList.add('item-active')
      }
    })
  }, options)

  observer.observe(document.querySelector('#home'))
</script>
