---
import StatsSummary from '@components/StatsSummary.astro'
import MyProfile from '@components/MyProfile.astro'
import Container from './utils/Container.astro'
---

<Container>
  <div class='-z-10 w-60 md:w-40 blur-[200px] top-6 h-40 rounded-full bg-primary/30 absolute pointer-events-none select-none md:top-32 left-0'></div>
  <div class='hidden md:block -z-10 w-60 blur-[200px] h-60 rounded-full bg-primary/30 absolute pointer-events-none select-none top-80 md:top-56 right-0'></div>
  <section id='home'>
    <div class='flex flex-col justify-between min-h-screen opacity-0 [--animation-delay:200ms] animate-fade-in-down'>
      <MyProfile />
      <StatsSummary />
    </div>
  </section>
</Container>

<script>
  document.addEventListener('astro:page-load', () => {
    const options = {
      rootMargin: '0px',
      threshold: window.innerWidth < 640 ? 0.3 : 0.8
    }
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const itemsLinks = document.getElementsByClassName('item-link')
          for (let item of itemsLinks) {
            item.classList.remove('item-active')
          }
          document.querySelector('#home-link').classList.add('item-active')
        }
      })
    }, options)

    document.querySelector('#home') && observer.observe(document.querySelector('#home'))
  })
</script>
