---
import StatsSummary from '@components/StatsSummary.astro'
import MyProfile from '@components/MyProfile.astro'
import Container from './utils/Container.astro'
---

<Container>
  <div class='absolute top-0 left-0 right-0 h-dvh pattern -z-10'></div>
  <section id='home'>
    <div class='flex flex-col justify-between min-h-screen opacity-0 [--animation-delay:200ms] animate-fade-in-down'>
      <MyProfile />
      <StatsSummary />
    </div>
  </section>
</Container>

<script>
  const options = {
    rootMargin: '0px',
    threshold: window.innerWidth < 640 ? 0.3 : 0.8
  }
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const itemsLinks = document.getElementsByClassName('item-link')
        for (let item of itemsLinks) {
          item.classList.remove('item-active')
        }
        document.querySelector('#home-link').classList.add('item-active')
      }
    })
  }, options)

  observer.observe(document.querySelector('#home'))
</script>

<style>
  .pattern {
    mask-image: linear-gradient(to bottom, black 10%, transparent 700px);
    background-image: url('/pattern.svg');
    opacity: 0.05;

    /* Media querie for mobile */
    @media (max-width: 768px) {
      mask-image: linear-gradient(to bottom, black 10%, transparent 500px);
    }
  }
</style>
