---
import { Picture } from 'astro:assets'
import SocialNetworks from './SocialNetworks.jsx'
import avatar from '@assets/images/abelRangel.webp'
---

<section class='flex flex-col md:flex-row my-auto items-center'>
  <header class='md:w-1/2 flex flex-col order-2 md:order-1 items-center md:items-start'>
    <div class='bg-primary w-fit px-4 py-2 rounded-t-full rounded-r-full text-zinc-950 font-bold'>Hola, soy</div>
    <h1 class='text-4xl md:text-6xl font-extrabold mt-5'>Abel Rangel</h1>
    <h2 class='text-xl md:text-2xl font-light text-zinc-300'>Desarrollador Fullstack</h2>
    <p class='mt-2'>
      <span class='inline-flex items-center px-2 py-1 text-xs font-semibold rounded-xl pointer-events-auto body-primary border border-zinc-700 bg-zinc-900'>
        <span class='mr-1.5 flex h-3 w-3 items-center'>
          <span class='absolute inline-flex h-2 w-2 animate-ping rounded-full opacity-75 bg-lime-400'></span>
          <span class='relative inline-flex h-2 w-2 rounded-full bg-lime-400'></span>
        </span>
        Disponible para nuevos proyectos
      </span>
    </p>
    <SocialNetworks client:load />
  </header>
  <div class='w-4/5 sm:w-80 lg:w-96 mx-auto order-1 md:order-2 mb-16 mt-32 md:mb-0 md:mt-0'>
    <Picture
      class='rounded-full border-zinc-200/5 border-[20px] aspect-square w-full'
      src={avatar}
      formats={['avif', 'webp']}
      alt='Foto de perfil de Abel Rangel'
      loading='eager'
    />
  </div>
</section>
