---
import { PORTFOLIO_ITEMS } from 'src/constants'

import Card from './portfolio/Card.astro'
import Container from './utils/Container.astro'
import TitleWithLine from './utils/TitleWithLine.astro'

const { showAll } = Astro.props
---

<Container>
  <section id='portfolio' class={'py-6 md:py-10 z-10 relative ' + (showAll ? '' : 'mask-image')}>
    <TitleWithLine>Proyectos</TitleWithLine>
    <div class='columns-1 sm:columns-2 lg:columns-3 xl:columns-4 gap-4'>
      {
        PORTFOLIO_ITEMS.sort((a, b) => a.title.localeCompare(b.title))
          .filter((item) => (showAll ? true : item.isTop))
          .map((item, index) => <Card item={item} hideOnMobile={showAll ? false : index > 1} />)
      }
    </div>
  </section>
  {
    !showAll && (
      <div class='z-20 absolute left-0 right-0 bottom-10 flex justify-center items-center'>
        <a href='/projects' class='text-primary font-semibold md:text-lg border border-zinc-700 rounded-md px-4 py-2 bg-zinc-900 hover:bg-zinc-800'>
          Ver todos los proyectos
        </a>
      </div>
    )
  }
</Container>

<script>
  document.addEventListener('astro:page-load', () => {
    const options = {
      rootMargin: '0px',
      threshold: 0.3
    }
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const itemsLinks = document.getElementsByClassName('item-link')
          for (let item of itemsLinks) {
            item.classList.remove('item-active')
          }
          document.querySelector('#portfolio-link').classList.add('item-active')
        }
      })
    }, options)

    document.querySelector('#portfolio') && observer.observe(document.querySelector('#portfolio'))
  })
</script>

<style>
  .mask-image {
    mask-image: linear-gradient(#000 0%, transparent 88%);
    -webkit-mask-image: linear-gradient(#000 0%, transparent 88%);

    @media (max-width: 768px) {
      mask-image: linear-gradient(#000 0%, transparent 90%);
      -webkit-mask-image: linear-gradient(#000 0%, transparent 90%);
    }
  }
</style>
