<div class="absolute right-0 top-0 h-16 w-16 cursor-default select-none">
    <div class="absolute transform rotate-45 bg-[#FF7865] text-center text-white font-semibold py-1 right-[-50px] top-[20px] w-[170px]">
        <slot />
    </div>
</div>