---
import Curriculum from '@icons/Curriculum.astro'
import Github from '@icons/Github.astro'
import LinkedIn from '@icons/LinkedIn.astro'
import Twitter from '@icons/Twitter.astro'
---

<div class='mt-6 flex'>
  <a
    class='p-2 rounded-lg transition duration-200 hover:bg-zinc-800 hover:text-accent-foreground/80'
    href='https://www.linkedin.com/in/ransilad'
    target='_blank'
    rel='noreferrer'
    aria-label='LinkedIn'
  >
    <LinkedIn />
  </a>
  <a
    class='p-2 rounded-lg transition duration-200 hover:bg-zinc-800 hover:text-accent-foreground/80'
    href='https://github.com/ransilad'
    target='_blank'
    rel='noreferrer'
    aria-label='Github'
  >
    <Github />
  </a>
  <a
    class='p-2 rounded-lg transition duration-200 hover:bg-zinc-800 hover:text-accent-foreground/80'
    href='https://twitter.com/ransilad'
    target='_blank'
    rel='noreferrer'
    aria-label='Twitter'
  >
    <Twitter />
  </a>
  <a
    class='p-2 rounded-lg transition duration-200 hover:bg-zinc-800 hover:text-accent-foreground/80'
    href='https://drive.google.com/file/d/1Q3vHdCzExbZzoXyZ0RRChbyNi9R1pm40/view?usp=sharing'
    target='_blank'
    rel='noreferrer'
    aria-label='Curriculum'
  >
    <Curriculum />
  </a>
</div>
