---
import { Picture } from 'astro:assets'
import certIcon from '@assets/icons/certs.svg'
import projectIcon from '@assets/icons/projects.svg'
import supportIcon from '@assets/icons/support.svg'
---

<section class='relative rounded-3xl md:rounded-full bg-zinc-600/20 p-[1px] my-10 overflow-hidden'>
  <div class='animate-rotate absolute inset-0 h-full w-full rounded-full bg-[conic-gradient(#00ca5b_20deg,transparent_120deg)] -z-10'></div>
  <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-10 bg-zinc-900 py-10 px-14 z-10 rounded-3xl md:rounded-full'>
    <article class='flex flex-col md:flex-row gap-4 justify-center bg-transparent'>
      <header class='flex justify-center md:justify-start'>
        <Picture src={certIcon} alt='Icono de un certificado' loading='eager' />
      </header>
      <footer class='text-center md:text-left'>
        <p class='text-xl font-light text-zinc-300'>+10 años</p>
        <p class='text-primary font-semibold text-lg'>Experiencia</p>
      </footer>
    </article>
    <article class='flex flex-col md:flex-row gap-4 justify-center bg-transparent'>
      <header class='flex justify-center md:justify-start'>
        <Picture src={projectIcon} alt='Icono de un computador con un engranaje' loading='eager' />
      </header>
      <footer class='text-center md:text-left'>
        <p class='text-xl font-light text-zinc-300'>+30 proyectos</p>
        <p class='text-primary font-semibold text-lg'>Completados</p>
      </footer>
    </article>
    <article class='flex flex-col md:flex-row gap-4 justify-center bg-transparent'>
      <header class='flex justify-center md:justify-start'>
        <Picture src={supportIcon} alt='Icono de una persona dando un soporte' loading='eager' />
      </header>
      <footer class='text-center md:text-left'>
        <p class='text-xl font-light text-zinc-300'>Soporte</p>
        <p class='text-primary font-semibold text-lg'>Online 24/7</p>
      </footer>
    </article>
  </div>
</section>
