.statsContainer {
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 5rem;
    box-shadow: 0 7px 10px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    padding: 2rem 3rem;
}

.separator {
    border-left: 2px solid #d3d3d3;
    height: 2rem;
}

.item {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.item div:first-child {
    margin-right: 1rem;
    padding: .5rem;
    width: 80px;
}

.item div:last-child {
    display: flex;
    flex-direction: column;
}

.item span {
    font-size: 1.3rem;
    font-weight: 600;
}

.item p {
    color: var(--color-primary);
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: .2rem;
}

@media (max-width: 768px) {
    .statsContainer {
        border-radius: 2rem;
        flex-direction: column;
        margin: 2rem 1rem;
        padding: 2rem 1rem 1rem;
    }

    .separator {
        display: none;
    }

    .item {
        flex-direction: column;
        margin-bottom: 2rem;
        text-align: center;
    }

    .item div:first-child {
        margin-right: 0;
    }

    .item span {
        font-size: 1rem;
    }
}
