:root {
    --color-dark: #515151;
    --color-primary: #49be7e;
    --color-bg: #f8f8f8;
    --color-text: #515151;
    --color-bg-navbar: #ffffffd4;
    --color-bg-extra: #f3f3f3;
    --color-bg-light: #ffffff;
    --color-text-light: #959595;
    --color-bg-contactme: transparent;
    --color-light-icon: #ddc216;
    --color-border-img-main: #0000002B;
}

.dark {
    --color-primary: #359761;
    --color-bg: #292929;
    --color-text: #f8f8f8;
    --color-bg-navbar: #2f2f2fd4;
    --color-bg-extra: #3f3f3f;
    --color-bg-light: #3f3f3f;
    --color-text-light: #c5c5c5;
    --color-bg-contactme: #2f2f2faf;
    --color-light-icon: #959595;
    --color-border-img-main: #3f3f3f;
}

html,
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 1.5rem;
}

@media (min-width: 769px) {
    .container {
        padding: 0 3rem;
    }
}
